DirectoryIndex kusaba.php
AddCharset UTF-8 .html
AddCharset UTF-8 .php
AddCharset UTF-8 .css
AddCharset UTF-8 .js
AddType video/mp4 mp4 m4v
AddType audio/mp4 m4a
AddType video/ogg ogv
AddType audio/ogg ogg oga
AddType audio/opus opus
AddType video/webm webm
AddType image/webp webp
FileETag None
Options +FollowSymlinks +Includes

#AddOutputFilter INCLUDES .html

<IfModule mod_headers.c>
	<Files *.html>
		Header add Expires "Mon, 26 Jul 1997 05:00:00 GMT"
		Header add Pragma "no-cache"
		Header set Expires "0"
		Header unset Vary
	</Files>
	Header add Cache-Control "private"
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on 
	RewriteCond %{REMOTE_ADDR} ^1\.1\.1\.1$
	RewriteRule ^.* - [F] 
</IfModule>
# Warning: Contents below this line may be erased, please place all .htaccess rules above this line
## !KU_BANS:
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REMOTE_ADDR} (37\.145\.38\.53)$
	RewriteRule !^(banned.php|youarebanned.jpg)$ /banned.php [L]
</IfModule>
